fastapi
uvicorn[standard]
streamlit
streamlit-option-menu
pandas
numpy
requests
python-dotenv
psutil
groq
influxdb-client
httpx
prometheus-client
fpdf2
vl-convert-python
websocket-client
aiohttp
statsmodels